table:hover,th:hover,tr:hover,td:hover{

font-style:italic;
color:blue;
}
td:hover{
background:grey; 
font-weight:bold;
border-radius:20px;
}



table,th,tr,td{
border:1px solid blue;
border-collapse:collapse;
text-align:center;
color:black;
}
th{background:grey;

font-family:courier;
}
.pf{color:green;}




